 
<h2 style="text-align: center;">Institution Registration From</h2>
<h4>Basic Details</h4>
<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">

  <label for="category">Institution Category </label>
  <select name="category" ngModel>
    <option [ngValue]="i.id" *ngFor="let i of categoryList">
      {{i.name}}
    </option>
  </select>


  <p>
    <label for="name">Name </label>
    <input type="text" name="name" ngModel>
  </p>
 
  <label for="states">State </label>
  <select name="states" ngModel>
    <option [ngValue]="s.id" *ngFor="let s of stateList">
      {{s.name}}
    </option>
  </select>

  <label for="district">District </label>
  <select name="district" ngModel>
    <option [ngValue]="d.id" *ngFor="let d of districtList">
      {{d.name}}
    </option>
  </select>

  
  <p>
    <label for="icode">Institution Code </label>
    <input type="text" id="icode" name="icode" ngModel>
  </p>

  
  <p>
    <label for="dcode">DISE Code </label>
    <input type="text" id="dcode" name="dcode" ngModel>
  </p>

  <p>
    <label for="location">Location </label>
    <input type="radio" value="rural" name="location" ngModel> RURAL
    <input type="radio" value="urban" name="location" ngModel> URBAN
  </p>
 

  
  <label for="itype">Institution Types </label>
  <select name="itype" ngModel>
    <option [ngValue]="d.id" *ngFor="let d of itypeList">
      {{d.name}}
    </option>
  </select>



  <label for="astate">Affiliated University Sate </label>
  <select name="astate" ngModel>
    <option [ngValue]="d.id" *ngFor="let d of astateList">
      {{d.name}}
    </option>
  </select>


  <p>
    <label for="aname">Affiliated University Name </label>
    <input type="text" id="aname" name="aname" ngModel>
  </p>

  <label for="ayear">Years From Which Admission Started </label>
  <select name="ayear" ngModel>
    <option [ngValue]="d.id" *ngFor="let d of ayearList">
      {{d.name}}
    </option>
  </select>


  <p>
    <label for="setpassword">Set Password </label>
    <input type="password" id="setpassword" name="setpassword" ngModel>
  </p>

  <p>
    <label for="confirmpass">Confirm Password </label>
    <input type="text" id="confirmpass" name="confirmpass" ngModel>
  </p>

  <h3>Prrof of Existence Institute</h3>

  <p>
    <label for="ifile">Instituion Establishment Registration Certificate  </label>
    <input type="file" id="ifile" name="ifile" ngModel>
  </p>


  <h4>Affiliated To</h4>

  <p>
    <label for="ufile">University Board Affiliation Certificate  </label>
    <input type="file" id="ufile" name="ufile" ngModel>
  </p>


  <h4>Address</h4>
  <p>
    <label for="line">Line 1: </label>
    <input type="text" id="line" name="line" ngModel>
  </p>

  <p>
    <label for="line">Line 2: </label>
    <input type="text" id="line" name="line" ngModel>
  </p>
 
  <p>
    <label for="line">City </label>
    <input type="text" id="line" name="line" ngModel>
  </p>

  <label for="states">State </label>
  <select name="states" ngModel>
    <option [ngValue]="s.id" *ngFor="let s of stateList">
      {{s.name}}
    </option>
  </select>

  <label for="district">District </label>
  <select name="district" ngModel>
    <option [ngValue]="d.id" *ngFor="let d of districtList">
      {{d.name}}
    </option>
  </select>

  <p>
    <label for="pincode">PinCode </label>
    <input type="number" id="pincode" name="pincode" ngModel>
  </p>

  <h4>Contact Details</h4>

  <p>
    <label for="principle">Principle Name </label>
    <input type="text" id="principle" name="principle" ngModel>
  </p>

  <p>
    <label for="princinumber">Principle Number </label>
    <input type="number" id="princinumber" name="princinumber" ngModel>
  </p>

  <p>
    <label for="princitele">Telephone </label>
    <input type="number" id="princitele" name="princitele" ngModel>
  </p>


  <p>
    <input type="checkbox" id="isAgree" name="isAgree">
    <label for="isAgree">All the details are submitted by us are valid and true if found guilty of submitting wrong documents we are responsible for everything </label>
    
  </p>

  <p>
    <button type="submit">Submit</button>
  </p>
  <p>
    <button type="button" (click)="reset(contactForm)">Reset</button>
  </p>
</form>